.container {
  max-width: 1200px;
  margin: 0 auto;      
  padding: 0 20rem;
}

.header {
  padding: 1rem 0;
  display: flex;
  align-items: center;     
}

.nav {
  flex: 1; 
}

.nav-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0;
  padding-left: 10rem;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
